.task-card-form-label {
  background-color: black;
  color: white;
  text-align: center;
  width: 50%;
  cursor: none;
}

.task-card {
  margin: 5%;
  text-align: center;
}

input {
  outline: none;
}
.modal-details-btns {
  margin-right: 10%;
  margin-bottom: 10%;
}
